<% provide(:title, "Home") %>

<div class="jumbotron jumbotron-fluid">
    <div class="container-fluid">
        <h1 class="display-4">Simple ToDo App</h1>
        <p class="lead">Keep your busy life organized!</p>
        <%= link_to "Get Started!", lists_path, class: "btn btn-outline-primary btn-lg"%>
    </div>
</div>

